services:

  postgres:
    image: postgres:16
    container_name: pg_arb
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      retries: 5

  app:
    build: .
    container_name: arb_app
    restart: always
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./src:/app/src
    command: python main.py   # ← ВАЖНО: запускаем файл, а не модуль

volumes:
  pg_data:
